* {
  inset: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgb(255, 255, 255);
}

.entrance-section {
  width: 50%;
  min-height: 181px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid black;
  margin: 40px 0;
  padding: 25px 0;
}

.entrance-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.entrance-form label, .entrance-form p {
margin: 25px 0 10px 0;
}
.category-block {
display: flex;
flex-direction: row;
width: 100%;
justify-content: space-between;
}
#btn-entrance{
  margin-top: 20px;
  width: 328px;
  height: 36px;
  border: none;
  color: white;
  font-size: 15px;
  background-color: #0265AD;
  border-radius: 12px;
  cursor: pointer;
}

#btn-entrance:hover {
  background-color: white;
  color: #0265AD;
  border: 1px solid #0265AD;
}

a {
  width: 2rem;
  height: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  left: 14rem;

  border-radius: 2rem;
  background: #ff1e1e;
  border: 1px solid #ff1e1e;
  text-decoration: none;
  color: white;
}

a:hover {
  background: white;
  color: #ff1e1e;
  border: 1px solid #ff1e1e;
}

.entrance-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}
